@mixin font-style ($size, $weight: 400, $color: #fff, $spacing: normal, $lineheight: normal)
  font-size: $size
  font-weight: $weight
  color: $color
  letter-spacing: $spacing
  line-height: $lineheight
