@use 'variables' as v

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  background: v.$bg-primary
  color: v.$white
  display: flex
  font-family: v.$roboto
  justify-content: center
  padding: 84px 175px
  min-height: 100vh
  min-height: 100dvh
  min-width: 100vw
  min-width: 100dvw
