* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --value: 18;
}

body {
  background: #0F021B;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  padding: 32px;
  min-height: 100vh;
  min-height: 100dvh;
  min-width: 100vw;
  min-width: 100dvw;
}
@media screen and (min-width: 768px) {
  body {
    padding: 84px;
  }
}
@media screen and (width >= 1024px) {
  body {
    padding: 84px 175px;
  }
}

button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

fieldset {
  border: none;
}

.container {
  width: 100%;
  max-width: 1089px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}
@media screen and (width >= 1024px) {
  .header {
    margin-bottom: 3.5rem;
  }
}
.header_icon {
  height: 37px;
  margin-bottom: 0.5rem;
}
.header_title {
  font-family: "Roboto Mono", monospace;
  font-size: 1.75rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: normal;
  line-height: normal;
}
@media screen and (min-width: 768px) {
  .header_title {
    font-size: 2rem;
  }
}
.header_subtitle {
  font-size: 1.25rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: normal;
  line-height: normal;
}
@media screen and (min-width: 768px) {
  .header_subtitle {
    font-size: 1.5rem;
  }
}

.password {
  background: #2C1746;
  border-bottom: 4px solid #FD58FF;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1.75rem;
  padding: 24px;
}
@media screen and (min-width: 768px) {
  .password {
    align-items: center;
    flex-direction: row;
    gap: 2rem;
  }
}
@media screen and (width >= 1024px) {
  .password {
    padding: 40px;
  }
}
.password_label {
  font-size: 1rem;
  font-weight: 400;
  color: #8A87AA;
  letter-spacing: normal;
  line-height: normal;
}
@media screen and (width >= 1024px) {
  .password_label {
    font-size: 1.25rem;
  }
}
.password_input {
  background: transparent;
  border: none;
  flex-wrap: wrap;
  word-wrap: break-word;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  letter-spacing: normal;
  line-height: normal;
}
@media screen and (width >= 1024px) {
  .password_input {
    font-size: 2.5rem;
  }
}
.password_actions {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .password_actions {
    width: auto;
  }
}
.password_actions .icon_btn {
  background: transparent;
  border: none;
  border-radius: 2px;
  height: 2.5rem;
  aspect-ratio: 1/1;
  padding: 4px;
  transition: 0.3s;
}
.password_actions .icon_btn img {
  height: 2rem;
}
.password_actions .icon_btn:hover {
  background: rgba(253, 88, 255, 0.2);
}
.password_actions .icon_btn:disabled, .password_actions .icon_btn[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  background: #180828;
  border: 1px solid #694A81;
  padding: 24px 24px 75px;
}
@media screen and (min-width: 768px) {
  .form {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.375rem 4rem;
    padding: 40px 40px 75px;
  }
}
@media screen and (width >= 1024px) {
  .form {
    grid-template-columns: repeat(3, 1fr);
  }
}
.form_title {
  grid-column: 1;
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
  font-weight: 500;
  color: #D7D5EB;
  letter-spacing: normal;
  line-height: normal;
}
@media screen and (min-width: 768px) {
  .form_title {
    grid-column: 1/3;
    font-size: 1.75rem;
  }
}
.form_subtitle {
  display: block;
  font-size: 1.25rem;
  font-weight: 500;
  color: #8A87AA;
  letter-spacing: normal;
  line-height: normal;
}
@media screen and (width >= 1024px) {
  .form_subtitle {
    font-size: 1.5rem;
  }
}
.form_range {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media screen and (min-width: 768px) {
  .form_range {
    grid-column: 1/3;
  }
}
@media screen and (width >= 1024px) {
  .form_range {
    grid-column: 1;
  }
}
.form_range .charLength {
  background: #2C1746;
  border: 1px solid #694A81;
  padding: 0.75rem;
  width: 5.25rem;
  font-size: 1.125rem;
  font-weight: 500;
  color: #8A87AA;
  letter-spacing: normal;
  line-height: normal;
}
@media screen and (width >= 1024px) {
  .form_range .charLength {
    font-size: 1.5rem;
  }
}
.form_fieldset-checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  font-weight: 500;
  color: #8A87AA;
  letter-spacing: normal;
  line-height: normal;
}
@media screen and (width >= 1024px) {
  .form_fieldset-checkbox {
    font-size: 1.25rem;
  }
}
.form_fieldset-checkbox:first-of-type {
  margin-top: 1.5rem;
}
.form_strength {
  background: #2C1746;
  margin: 1.5rem 0 0.875rem;
  height: 32px;
  width: 100%;
  position: relative;
}
.form_strength::before {
  content: "";
  position: absolute;
  inset: 0;
  height: 100%;
  width: var(--width, 0%);
  background: var(--bgColor);
  transition: 0.3s;
  z-index: 10;
}
.form_strength-legend {
  display: flex;
  font-size: 1.125rem;
  font-weight: 500;
  color: #8A87AA;
  letter-spacing: normal;
  line-height: normal;
  justify-content: space-between;
}
@media screen and (width >= 1024px) {
  .form_strength-legend {
    font-size: 1.25rem;
  }
}

input {
  font-family: "Roboto Mono", monospace;
}
input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 10px;
  background: #2C1746;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 28px;
  width: 28px;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  transition: 0.2s ease-in-out;
}
input[type=range]::-moz-range-thumb {
  height: 28px;
  width: 28px;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  transition: 0.2s ease-in-out;
}
input[type=checkbox] {
  width: 24px;
  height: 24px;
}

.copy_btn {
  display: block;
  background: #FD58FF;
  border: none;
  border-radius: 2px;
  margin: 36px auto 0;
  padding: 0.625rem;
  transition: 0.3s;
  font-size: 1.25rem;
  font-weight: 500;
  color: #0F021B;
  letter-spacing: normal;
  line-height: normal;
}
.copy_btn:hover {
  background: #d500d8;
}
@media screen and (width >= 1024px) {
  .copy_btn {
    font-size: 1.375rem;
  }
}

/*# sourceMappingURL=style.css.map */
